body {
    background: linear-gradient(45deg, #5c258d, #4389a2, #f09819);
    background-size: 600% 600%;

    -webkit-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
    color: white;
}

h1 {
    font-size:7rem;
    font-weight:bolder;
    font-family: 'Montserrat';
}

p {
    font-size: 2rem;
    font-family: 'Quicksand';
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}