body {
    color: black;
}

form {
    height: 100%;
}

input, textarea {
    border: none !important;
    background: transparent;
}

input:focus, textarea:focus {
    border: none !important;
}

input[type=submit] {
  right: 5%;  
  position: fixed;
}

textarea {
    font-size: 2rem;
    display: none;
}

#content {
    outline: none;
    font-size: 2rem;
}

#title {
    font-size: 7rem;
    font-family: 'Montserrat'
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}