body {
    overflow-x: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

#hero {
    color: #fdfdfd;
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b734e103303c5965225682077ee72f86');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#header {
    font-family: 'Montserrat';
    font-size: 10rem;
}

#tagLine {
    font-family: "Quicksand";
    font-size: 2rem;
}


button {
	padding: 20px 80px !important;
    text-decoration: none;
    border: 2px solid #333 !important;
    color: white !important;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Quicksand' !important;
    font-size: 13px;
    letter-spacing: 3px;
    -webkit-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}


button:hover {
	background: #333 !important;
    border: 1px solid #333 !important;
    color: #fefefe !important;
    border-radius: 30px;
    opacity: 1 !important;
}

#about {
    background-color: white;
    color: #2f2f2f;
    color: rgba(0, 0, 0, 0.8);
    min-height: 50vh;
    width: 100vw;
    text-align: left;
}

#about .container {
  padding-top: calc(100vh/5);
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}



/*@-webkit-keyframes gradient {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/
/*@-moz-keyframes gradient {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/
/*@keyframes gradient { */
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/

