<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LOG</title>

    <link href="./css/lib/wing.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/styles.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>
	<section id="hero">
		<div class="center text-center">
			<h1 id="header">LOG</h1>
	    	<p id="tagLine">Log down anything, anywhere.</p>
	    	<a href="/form"><button class="btn btn-clear">Make One</button></a>
		</div>
	</section>
	
	<section id="about">
		<div class="container">
			<h5>What is Log?</h5>
			<p>Log is a simple tool designed to help you with storing things you find, and making it easy to share. You simply create a new log, give it a title, and put anything you want in it. Log will give you a unique url that you can share with the world.</p>
			<br/>
                <p>If you like Log, then tweet it, star it, or fork it, it really helps &#9825;</p>
                <br/>
                <div class="text-center">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="SimpleCoolDude1">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <iframe src="https://ghbtns.com/github-btn.html?user=KingPixil&repo=log&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
                <iframe src="https://ghbtns.com/github-btn.html?user=KingPixil&repo=log&type=fork&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
                </div>
		</div>
	</section>
</body>
</html>