<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LOG &mdash; {{title}}</title>

    <link href="./public/css/styles.css" rel="stylesheet" type="text/css" />
	<link href="./public/css/lib/wing.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<article>
		{{content}}
	</article>
	<footer>
	    <a href="/">LOG</a> &middot;
	    <!--<a href="/edit">edit</a> &middot;-->
	    <a href="/raw">raw</a>
    </footer>
</body>
</html>